.container {
  background-color: aliceblue;
  max-width: 100vh;
  margin: 0 auto;
}

.header {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 40px;
  align-items: center;
}

.header img {
  height: 30px;
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-button {
  border: solid 1px rgb(229, 229, 229);
}
